<section class="features">
  <div class="image-container">
    
    <div class="text-container">
      <img src="img2.jpg" class="img1" width="432" height="432" />
      <div class="stats">
        <p><strong>56,5470+</strong></p>
        <p>People are learning</p>
        <div class="avatars">
          <img src="f1.jpg" />
          <img src="f1.jpg" />
          <img src="f1.jpg" />
          <img src="f1.jpg" />
        </div>
      </div>
    </div>


<div class="info-feat">
    <h2>How our online public school works</h2>
    <div class="features-grid">
      <div class="feature-card">
        <fa-icon [icon]="faLaptop"></fa-icon>
        <h3>Virtual Learning</h3>
        <p>The curriculum with the standard school supplies and voluntary field trips</p>
      </div>
      <div class="feature-card">
        <fa-icon [icon]="faBook"></fa-icon>
        <h3>Meaningful Education</h3>
        <p>Students of our Connections Academy brands have additional contributions</p>
      </div>
      <div class="feature-card">
        <fa-icon [icon]="faChalkboardTeacher"></fa-icon>
        <h3>Online Curriculum</h3>
        <p>Our curriculum includes getting help by giving them support</p>
      </div>
      <div class="feature-card">
        <fa-icon [icon]="faUsers"></fa-icon>
        <h3>Social Interaction</h3>
        <p>Students at connections Academy collaborate on projects together</p>
      </div>
    </div>
</div>
</div>
  

  

  </section>
