<section class="courses">
  <div class="course-section">
    <div class="course-heading">
      <h2>How our online public school works</h2>
      <button class="view-courses-btn">View All courses</button>
    </div>
    <div class="courses-container">
      <div class="course-card">
        <img src="img03.jpg" class="course-image"/>
        <h3 class="course-title">Hands-On Python & R In Data Science</h3>
        <div class="course-info">
          <span><fa-icon [icon]="faUser"></fa-icon>1,45,690</span>
          <span><fa-icon [icon]="faClock"></fa-icon>4 months</span>
        </div>
        <button class="add-to-cart">
          <fa-icon [icon]="faCartPlus"></fa-icon> Add to Cart
        </button>
      </div>
      <div class="course-card">
        <img src="img01.jpg" class="course-image"/>
        <h3 class="course-title">Science and Machine Learning Bootcamp</h3>
        <div class="course-info">
          <span><fa-icon [icon]="faUser"></fa-icon>1,45,690</span>
          <span><fa-icon [icon]="faClock"></fa-icon>4 months</span>
        </div>
        <button class="add-to-cart">
          <fa-icon [icon]="faCartPlus"></fa-icon> Add to Cart
        </button>
      </div>
      <div class="course-card">
        <img src="img02.jpg" class="course-image"/>
        <h3 class="course-title">The Python Mega Course: Real Application</h3>
        <div class="course-info">
          <span><fa-icon [icon]="faUser"></fa-icon>1,45,690</span>
          <span><fa-icon [icon]="faClock"></fa-icon>4 months</span>
        </div>
        <button class="add-to-cart">
          <fa-icon [icon]="faCartPlus"></fa-icon> Add to Cart
        </button>
      </div>
    </div>
  </div>
  </section>
