/* testimonials.component.scss */
.testimonials-container {
  text-align: center;
  padding: 20px;

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .testimonial-slider {
    display: flex;
    overflow: hidden;

    .testimonial {
      flex: 0 0 100%;
      transition: transform 0.5s ease-in-out;
      background: #f9f9f9;
      border-radius: 10px;
      padding: 20px;
      margin: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      .quote {
        font-style: italic;
        font-size: 1.2em;
        margin-bottom: 10px;
      }

      .details {
        font-size: 1em;
        margin-bottom: 20px;
      }

      .author {
        display: flex;
        justify-content: center;
        img{
          width: 60px;
          height: 60px;
        }
        .name {
          font-weight: bold;
          font-size: 1.1em;
        }

        .location {
          font-size: 0.9em;
          color: #666;
        }

        .rating {
          margin-top: 10px;

          fa-icon {
            color: #f5c518;
            font-size: 1.2em;
          }
        }
      }
    }
  }

  .navigation-arrows {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    .arrow {
      cursor: pointer;
      font-size: 2em;
      color: #333;
    }
  }

  @media (min-width: 768px) {
    .testimonial-slider {
      .testimonial {
        width: 45%;
      }
    }
  }

  @media (min-width: 1024px) {
    .testimonial-slider {
      .testimonial {
        width: 40%;
      }
    }
  }
}
